Service References/DBService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_saveFileDataToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:saveFileDataToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveFileDataToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveFileDataToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveTrafficDataToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:saveTrafficDataToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveTrafficDataToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveTrafficDataToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IDataService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveActivityToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveActivityToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveActivityToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveActivityToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveProcessesToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProcessesToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveProcessesToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProcessesToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_makeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:makeReport" />
  </wsdl:message>
  <wsdl:message name="IDataService_makeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:makeReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="IDataService_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getTrafficTable_InputMessage">
    <wsdl:part name="parameters" element="tns:getTrafficTable" />
  </wsdl:message>
  <wsdl:message name="IDataService_getTrafficTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTrafficTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTestCharacteristic_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTestCharacteristic" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTestCharacteristic_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTestCharacteristicResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="saveFileDataToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/saveFileDataToDB" message="tns:IDataService_saveFileDataToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/saveFileDataToDBResponse" message="tns:IDataService_saveFileDataToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveTrafficDataToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/saveTrafficDataToDB" message="tns:IDataService_saveTrafficDataToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/saveTrafficDataToDBResponse" message="tns:IDataService_saveTrafficDataToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/login" message="tns:IDataService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/loginResponse" message="tns:IDataService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveActivityToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveActivityToDB" message="tns:IDataService_SaveActivityToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveActivityToDBResponse" message="tns:IDataService_SaveActivityToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProcessesToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveProcessesToDB" message="tns:IDataService_SaveProcessesToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveProcessesToDBResponse" message="tns:IDataService_SaveProcessesToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="makeReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/makeReport" message="tns:IDataService_makeReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/makeReportResponse" message="tns:IDataService_makeReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/addUser" message="tns:IDataService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/addUserResponse" message="tns:IDataService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getUsers" message="tns:IDataService_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getUsersResponse" message="tns:IDataService_getUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTrafficTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getTrafficTable" message="tns:IDataService_getTrafficTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getTrafficTableResponse" message="tns:IDataService_getTrafficTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTestCharacteristic">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveTestCharacteristic" message="tns:IDataService_SaveTestCharacteristic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveTestCharacteristicResponse" message="tns:IDataService_SaveTestCharacteristic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveFileDataToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/saveFileDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveTrafficDataToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/saveTrafficDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IDataService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveActivityToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/SaveActivityToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProcessesToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/SaveProcessesToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeReport">
      <soap:operation soapAction="http://tempuri.org/IDataService/makeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IDataService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/IDataService/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrafficTable">
      <soap:operation soapAction="http://tempuri.org/IDataService/getTrafficTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTestCharacteristic">
      <soap:operation soapAction="http://tempuri.org/IDataService/SaveTestCharacteristic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:18336/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>